In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

In [3]:
df = pd.read_csv("heart_disease_data.csv")

In [4]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [5]:
target = "condition"

In [6]:
X = df.drop(target, axis=1).values
y = df[target].values

In [12]:
k_fold = KFold(n_splits=6, shuffle=True, random_state=42)
k_fold

KFold(n_splits=6, random_state=42, shuffle=True)

In [13]:
cv_lr = cross_validate(
    LinearRegression(), X, y, scoring="neg_mean_squared_error", cv=k_fold
)["test_score"].mean()
cv_lr

-0.12677879832154423

In [14]:
cv_dt = cross_validate(
    DecisionTreeRegressor(), X, y, scoring="neg_mean_squared_error", cv=k_fold
)["test_score"].mean()
cv_dt

-0.24265306122448982

In [15]:
cv_rf = cross_validate(
    RandomForestRegressor(), X, y, scoring="neg_mean_squared_error", cv=k_fold
)["test_score"].mean()
cv_rf

-0.13466057823129254